h1 {
    text-align: center;
    font-family: 'Muli', sans-serif;
}
#content {
    width: 90%;
    margin: auto;
}
#messageArea {
    max-height: 200px;
    overflow-y: auto;
}

#userList {
    height: 200px;
    width: 200px;
    border: 1px solid black;
    float: right;
    text-align: center;
}

#quiz {
    height: 200px;
    width: 50%;
    float: right;
    font-family: 'Muli', sans-serif;
}

#questionArea {
    font-size: 2em;
}

#answerArea {
    padding-top: 2em;
}

#userListHeader {
    font-weight: bold;
    border-bottom: 1px solid black;
    text-align:center;
}

#userBar {
    float: left;
}

#playerRow:hover {
    background-color: #9CBA7F;
}