.answerResponse {
    margin-top: 20px;
}

table {
    position: absolute;
    margin-top: 30px;
}

h1 {
    text-align: center;
    font-family: 'Muli', sans-serif;
}

input {
    width: 90px;
}

#quiz {
    font-family: 'Muli', sans-serif;
}

#questionArea {
    font-size: 2em;
}

#answerArea {
    padding-top: 2em;
}

#userListHeader {
    font-weight: bold;
    border-bottom: 1px solid black;
    text-align:center;
}