.answerResponse {
    margin-top: 20px;
}

.chatWindow {
    position: relative;
    top: 60px;
    width: auto;
    height: auto;
    max-height: 200px;
    overflow: auto;
}

.chatBar {
    position: relative;  
    top: 60px;
}

table {
    position: absolute;
    margin-top: 30px;
}

h1 {
    text-align: center;
    font-family: 'Muli', sans-serif;
}

input {
    width: 90px;
}

.chatBar input {
    width: 150px;
}

#quiz {
    font-family: 'Muli', sans-serif;
}

#questionArea {
    font-size: 2em;
}

#answerArea {
    padding-top: 2em;
}

#userListHeader {
    font-weight: bold;
    border-bottom: 1px solid black;
    text-align:center;
}

