* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

.game-title span {
    text-align: center;
    font-family: 'Muli', sans-serif;
    font-weight: bold;
    font-size: 2em;
    position: relative;
    top: 15px;
    left: 20px;
}

input {
    width: 90px;
}

table {
    margin-top: 30px;
}

.logo {
    width: 1.4em;
    height: 2em;
}

.chat-game {
    margin-bottom:50px;
}

.chat-window-game {
    position: relative;
    top: 60px;
    width: auto;
    height: auto;
    max-height: 200px;
    overflow: auto;
}

.chat-bar-game {
    position: relative;  
    top: 60px;
}

.user-info {
    max-height: 450px;
    overflow: auto;
    overflow-x: hidden;
 }

.username-input {
    width: 100%;
}

.footer {
    background-color: #D5DED9;
    height: 25px;
    line-height: 25px;
    text-align: center;
}

.username-display {
    font-size: 1.4em;
    text-align: center;
}

.user-list-header {
    font-weight: bold;
    border-bottom: 1px solid black;
    text-align:center;
}